#intro{
    height:calc(100vh) ;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

}
.home-img{
    position: absolute;
    top: -4rem;
    right: 0;
margin-top: 80px;
  z-index: -1;
  object-fit: cover;
  height: 80vh;
  width: 70vh;
  border-radius: 50%;
  background:rgb(245, 200, 200);
  padding-bottom: 30px;

}
.introContent{
    height: 100vh;
    width: 50vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}
.hello{
    font-size: 1.75rem;
    font-weight: 100;
}
.introName{
    color: yellow;
}
.introPara{
    font-size: large;
    letter-spacing: 2px;
    font-weight: 500;
    color: rgb(163, 163, 163);
    margin-right: 20px;
    margin-top: 30px;
    font-size: 25px;

}
.btn{
    background-color: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}
.btnImg{
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;

    /* padding: ; */
}
@media screen and (max-width:840px){
    .home-img{
        right: -10vw;

    }
    .introContent{
        font-size: 10vw;
    }
    .hello{
        font-size: 4.5rem;
    }
    
}
@media screen and (max-width:480px){
    .home-img{
        right: -20vw;
    }
    
    
}